@import "../../../styles/colors.scss";
@import "../../../styles/colors.module.scss";

@import "../../../styles/media.module.scss";

.dropdown {
  color: var(#{--main-text-default});

  width: 100%;
  position: relative;
  font-size: 15px;

  .select {
    background: var(#{--addit-default});
    box-shadow: var(#{--sm-shadow-default});
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.5em;
    padding: 8px 4%;
    transition: background-color 0.3s;
    margin-bottom: 6px;

    &:hover {
      background: var(#{--s-text-default});
      color: var(#{--addit-default});
    }

    .caret {
      position: absolute;
      right: 4%;
      font-size: 18px;
      transition: 0.3s ease-in-out;

      &.rotate {
        transform: rotate(180deg);
      }
    }
  }

  .menu {
    background: var(#{--addit-default});
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);

    overflow-y: auto;
    max-height: 200px;
    display: block;
    padding: 0.2em 3px;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    pointer-events: none;

    &.open {
      opacity: 1;
      transform: translateY(1);
      pointer-events: all;
    }
    .optionWrapper {
      padding: 0.7em 5px;
      margin: 0.3em 0;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:hover {
        background: var(#{--s-text-default});
        color: var(#{--addit-default});
      }

      .done {
        display: none;
      }

      &.active {
        .done {
          display: block;
          font-size: 15px;
        }
      }
    }
  }

  .option {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    p {
      margin-left: 10px;
    }
  }
}

@media (max-width: 470px) {
  .dropdown {
    font-size: 14px;
  }

  .select {
    .catet {
      font-size: 10px;
    }
  }

  .menu {
    .optionWrapper {
      &.active {
        .done {
          font-size: 14px;
        }
      }
    }
  }
}
