@import "../../styles/colors.module.scss";
@import "../../styles/colors.scss";

.priority {
  span {
    color: var(#{--s-text-default});
    display: block;
    text-align: center;
    font-size: 70%;
  }
}
