@import "../../styles/colors.module.scss";
@import "../../styles/colors.scss";

@import "../../styles/media.module.scss";

// @use "../../styles/media.module.scss" as m;
.wrapper {
  background: var(#{--navbar-background-default});
  box-shadow: 3px 3px 8px rgb(0, 0, 0, 0.08);
  color: var(#{--main-text-default});

  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 12px;
  border-radius: 50px;
  margin-bottom: 25px;
  z-index: 10;

  .titleAndIcon {
    display: flex;
    align-items: center;

    &:hover {
      .noteIcon {
        svg {
          font-size: 18px;
        }
      }
    }

    .noteIcon {
      position: relative;
      width: 30px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s ease-in;

      svg {
        font-size: 16px;
      }
    }

    .tilte {
      width: 130px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@include xl {
  .wrapper {
    width: 190px;
    .titleAndIcon {
      display: flex;
      align-items: center;

      &:hover {
        > p {
          color: $right;
        }
      }

      .tilte {
        width: 100px;
      }
    }
  }
}
@include sm {
  .wrapper {
    width: 180px;
    .titleAndIcon {
      display: flex;
      align-items: center;

      &:hover {
        > p {
          color: $right;
        }
      }

      .tilte {
        width: 80px;
      }
    }
  }
}
