@import "../../../styles/colors.module.scss";
@import "../../../styles/colors.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .square {
    border: 2px solid var(#{--main-text-default});
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transform: scale(1);
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(1.05);
    }

    .checkMark {
      font-size: 15px;
      color: $left !important;
      opacity: 0;
      transition: all 0.3s ease-in;

      &:hover {
        opacity: 0.6;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}
