@import "../../../styles/colors.scss";

.wrapper {
  position: relative;
  width: 60px;
  label {
    box-shadow: var(#{--sm-shadow-default});
    background: var(#{--addit-default});
    position: absolute;
    width: 100%;
    height: 25px;
    border-radius: 50px;
    cursor: pointer;
    input {
      position: absolute;
      display: none;

      &:checked ~ .slider {
        background: var(#{--main-text-default});
      }
      &:checked ~ .slider::before {
        background: var(#{--addit-default});
        transform: translateX(30px);
        box-shadow: none;
      }
    }

    .slider {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      transition: 0.3s;
      &::before {
        box-shadow: inset 28px -4px 0px 0px var(#{--main-text-default});
        background: var(#{--addit-default});

        content: "";
        position: absolute;
        top: 4px;
        left: 8px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        transition: 0.3s;
      }
    }
  }
}
