@import '../../styles/colors.module.scss';

.main {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 15px;

    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 18px 18px $lightGrey;
        border: solid 3px transparent;
        width: 20px;
    }

    ::-webkit-scrollbar {
        width: 15px;
        height: 15px;
        cursor: pointer;

    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        height: 15px;
        cursor: pointer;
    }

    ::-webkit-scrollbar-track {
        background: none;
    }
}