@import "../../styles/media.module.scss";

.contentWindow {
  position: relative;
  max-height: 90%;
  width: 70%;
  margin: 0 auto;
  transform: translateY(1);
  border-radius: 20px;
  padding: 15px 20px;
  background-color: white;
  transition: transform 0.2s ease-in-out;
}

.unActiveContentWindow {
  transform: translateY(-70%);
  transform: scaleY(0.8);
  opacity: 0;
}
@include xxl {
  .contentWindow {
    width: 75%;
  }
}
@include xl {
  .contentWindow {
    width: 70%;
  }
}
@include md {
  .contentWindow {
    width: 65%;
    // margin-right: 200px;
    // padding: 15px 10px;
    margin-left: 185px;
  }
}
@include sm {
  .contentWindow {
    width: 85%;
    margin-left: 0;
    margin: 0 auto;
  }
}
