$black: #0d0d0d;
$black2: #21262e;
$black3: #141619;

$grey: #293133;
$whiteGrey: #5f6567;
$white: #eee;

$red: #ff3d3d;
$redHover: #d10f0f;

$green: #55ff7f;
$greenHover: #359f4e;

$blue: #3030ad;
$purple: #bdb8c9;
$purple2: #ff7260;
$white: #ffffff;
$maindark: #353535;
$left: #6aa0a2;

$lightLeft: rgb(156, 194, 198);

// $right: #284b63;

// $right: #932d26;
$right: #1a5a65;

$lightback: #d9d9d9;
$ligtestback: rgb(245, 245, 245);

$backgroundBlack: rgb(43, 43, 43);
$morethanmiddleGrey: rgb(57, 57, 57);
$middleGrey: rgb(106, 106, 106);
$lightGrey: rgb(217, 217, 217);

$aPriority: rgb(147, 62, 62);
$bPriority: rgb(165, 146, 47);
$cPriority: rgb(50, 141, 67);

$attentionRed: rgb(205, 60, 60);

$themes: (
  dark: (
    "txt-color": #fcfcfc,
    "bg-color": rgb(57, 57, 57),
  ),
  light: (
    "txt-color": #284b63,
    "bg-color": rgba(245, 245, 245, 0.975),
  ),
);
@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}
@function theme-get($key) {
  @return map-get($theme-map, $key);
}

:export {
  black: $black;
  --black: blue;
  black2: $black2;
  black3: $black3;
  aPriority: $aPriority;
  bPriority: $bPriority;
  cPriority: $cPriority;
  right: $right;
  grey: $grey;
  whiteGrey: $whiteGrey;
  white: $white;

  red: $red;
  redHover: $redHover;

  green: $green;
  greenHover: $greenHover;

  blue: $blue;
  purple: $purple;
  purple2: $purple2;
}
