@import "../../styles/colors.module.scss";
@import "../../styles/colors.scss";

@import "../../styles/media.module.scss";

.infoPart {
  color: var(#{--main-text-default});
  display: flex;
  // gap: 15px;
  justify-content: space-between;
  margin-bottom: 10px;

  .info {
    font-size: 30px;
    width: 150px;

    // background: red;
  }

  .title {
    display: flex;
    align-items: center;
    width: 150px;
    // margin-right: 30px;
  }
}

@media (max-width: 470px) {
  .infoPart {
    width: 90%;
    margin-bottom: 10px;

    .title {
      margin: 0;
      display: flex;
      align-items: center;
      font-size: 18px;
      width: 150px;
    }

    .info {
      font-size: 20px;
      width: 100px;
      margin: 0;
      margin-left: -25px;
    }
  }
}
