@import '../../../styles/colors.module.scss';



.cell {
    border: 1.2px solid $middleGrey;
    background-color: $backgroundBlack;
    color: $lightGrey;
    padding: 12px 15px;
    position: relative;
    display: flex;
    justify-content: space-between;

    .dayNumber {
        display: flex;
        justify-content: end;

        span {
            position: relative;
            z-index: 30;
        }

        .currentDay {
            position: relative;
            z-index: 1;

            &::after {
                top: -5px;
                right: -7px;
                z-index: 1;
                content: '';
                position: absolute;
                width: 32px;
                height: 32px;
                border-radius: 50px;
                background-color: rgb(61, 130, 233);

            }

        }
    }

    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
}