@import '../../styles/colors.module.scss';

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .window {
        width: 500px;
        height: 450px;
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        align-items: start;
        display: grid;
        grid-template-rows: auto 1fr auto;
        padding: 70px 40px 20px 40px;
        background-color: white;

        div {
            display: flex;
            gap: 15px;
            justify-content: space-between;
            margin-bottom: 20px;

            input {
                width: 280px;
            }

            p {
                display: flex;
                align-items: center;
                width: 100px;
            }
        }

        .submit {
            border: 2px solid $attentionRed;
            border-radius: 50px;
            width: 100%;
            height: 40px;
            padding: 0 20px;
            font-size: 20px;
            color: $attentionRed;
            background-color: white;
            cursor: pointer;
            transition: all .3s ease-in-out;
            margin-top: 50px;

            &:hover {
                transition: all .3s ease-in-out;
                background-color: $attentionRed;
                color: white;
            }
        }

    }
}