@import "../../styles/media.module.scss";
.wrapper {
  height: 100vh;
  // background: red;
  padding: 80px 20px 0px 20px;
  .container {
    position: relative;
    width: 100%;
    height: 90%;
    .header {
      margin-bottom: 30px;
    }
    .tasksAndLessons {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: start;
      gap: 60px;
      .taskPart {
        flex: 4;
      }
      .schedulePart {
        color: var(#{--main-text-default});
        background: var(#{--navbar-background-default});
        box-shadow: 3px 3px 8px rgb(0, 0, 0, 0.08);
        position: sticky;
        top: 30px;
        right: 0px;
        padding: 20px 20px;
        border-radius: 15px;
        flex: 3;

        > div {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@include xxl {
  .container {
    padding: 0;
    width: 100%;
    .tasksAndLessons {
      gap: 40px;

      .taskPart {
        width: 50%;
      }
      .schedulePart {
        width: 50%;
      }
    }
  }
}
@include xl {
  .container {
    width: 100%;
  }
}

@include md2 {
  .container {
    overflow-x: hidden;
    width: 90%;
    .header {
      margin-bottom: 20px;
    }
    .tasksAndLessons {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 30px;
      .taskPart {
        width: 100%;

        flex: 4;
        order: 2;

        .addButton {
          position: fixed;
          bottom: 30px;
          z-index: 20;
          right: 20px;
          background-color: red;
          height: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .schedulePart {
        width: 100%;
        right: 0px;
        > div {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@include sm {
  .container {
    .header {
      margin-top: 70px;
      margin-bottom: 20px;
    }
  }
}
