@import "../../styles/colors.module.scss";


.wrapper {
    margin: 0 auto;
    width: 1000px;
    padding: 0px 70px;

    .taskList {
        width: 100%;

        >div {
            margin-bottom: 15px;
        }

    }

}