@import "../../styles/media.module.scss";

  .wrapper {
    height: 100%; //не убирать
    position: relative;
    width: 100%;
    padding: 80px 20px 0px 20px;
    max-width: 900px;

    .header {
      margin-bottom: 30px;
    }
    .tasksAndLessons {
      position: static;
      width: 100%;
      display: flex;
      align-items: start;
      gap: 60px;

      .addButton {
        z-index: 5;
      }
      .taskPart {
        position: relative;
        flex: 4;
        z-index: 3;
      }
      .schedulePart {
        color: var(#{--main-text-default});
        background: var(#{--navbar-background-default});
        box-shadow: 3px 3px 8px rgb(0, 0, 0, 0.08);
        position: sticky;
        top: 30px;
        right: 0px;
        padding: 20px 20px;
        border-radius: 15px;
        flex: 3;
        z-index: 12;

        > div {
          margin-bottom: 20px;
        }
      }
    }
  }

@include xxl {
  .wrapper {
    padding: 80px 50px 0px 50px;
  }
}
@include md2 {
  .wrapper {
    padding: 60px 45px 0px 45px;

    .tasksAndLessons {
      display: flex;
      flex-direction: column;
      align-items: start;

      .addButton {
        position: fixed;
        bottom: -7px;
        right: 14px;
      }
      .schedulePart {
        position: static;

      }
      .taskPart {
        order: 2;
        width: 100%;
      }

    
    }
    
  }
}


@include sm {
  .wrapper {
    padding-top: 10px; 
    .header {
      margin-bottom: 20px;
    }
    .tasksAndLessons {
      .schedulePart {
        width: 100%;
        padding: 10px 10px;
        > div {
          margin-bottom: 8px;

        }
      }
    }
  }
}
