@import "../../styles/colors.module.scss";
@import "../../styles/colors.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(#{--main-text-default});

  .closeButton {
    color: var(#{--main-text-default});
    cursor: pointer;
  }

  margin-bottom: 30px;
}
