@import "../../styles/colors.module.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        color: $middleGrey;
    }

    .closeButton {
        color: $middleGrey;
        cursor: pointer;
    }

    margin-bottom: 30px;
}