// @import "../../../styles/colors.module.scss";
@import "../../../styles/colors.scss";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 4px 10px;
  cursor: pointer;
  color: var(#{--main-text-default});
  border: none;
  transition: all 0.5 ease-in-out;

  &.isActive {
    background: var(#{--main-text-default});
    color: var(#{--text-hover-default});
    // color: white;
    // background-color: $right;
    border-radius: 6px;
    transition: all 0.5 ease-in-out;
  }
}
