@import "../../../styles/colors.scss";

.btn {
  width: 100px;

  padding: 8px 0px;
  border-radius: 20px;
  font-size: 22px;
  background: none;
  border: 2px solid var(#{--main-text-default});
  color: var(#{--main-text-default});
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &.isActive {
    background: var(#{--main-text-default});
    color: var(#{--navbar-background-default});
    border: 2px solid var(#{--main-text-default});
  }
  &:hover {
    background: var(#{--main-text-default});
    color: var(#{--navbar-background-default});
    border: 2px solid var(#{--main-text-default});
  }
}
