@import '../../../styles/colors.module.scss';


.input {
       width: 350px;
       height: 40px;
       overflow: hidden;
       font-size: 30px;
       padding: 10px;
       outline: none;

       &:focus,
       :active {
              outline: none;
              border: none;
       }

}