textarea {
    width: 100%;
    // height: auto;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    overflow: auto;
    outline: none;
    color: black;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    // resize: none;
    /*remove the resize handle on the bottom right*/
}