@import "../../styles/colors.module.scss";

.schedulelist {
  height: auto;
  box-shadow: 3px 3px 8px rgb(0, 0, 0, 0.08);
  color: $right;
  height: 100%;
  position: sticky;
  top: 30px;
  right: 0px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 15px;
}
