@import "../../styles/colors.scss";

.wrapper {
  width: 100%;
  min-height: 100%;
  background: var(#{--body-background-default});
  display: flex;
  justify-content: center;
  align-items: center;
  .window {
    margin: auto 0;
    width: 500px;
    height: 400px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px 20px 50px;
    background: var(#{--navbar-background-default});
  }
}
