@import "../../styles/colors.module.scss";


.wrapper {
    width: 100%;
    min-height: 100%;
    background-image: url("../../imgs/back2.jpg");
    background-position: 0%;
    background-size: cover;
    display: flex;
    justify-content: space-between;

    .pageContent {
        // margin: 0 auto;
        margin-left: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 30px;
    }


}