@import "../../styles/colors.module.scss";
@import "../../styles/media.module.scss";

.wrapper {
  overflow-y: auto;
  background-color: aqua;
  width: 100%;
  min-height: 100%;
  background-image: url("../../imgs/back.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  .navBarBody {
    position: static;
    min-width: 200px;
    width: 15%;
    height: 100vh;
    background-color: yellow;
    margin-right: 0;
  }
  .pageContent {
    background-color: blue;
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
    height: 100%;
  }
}
@include xxl {
  .wrapper {
    .pageContent {
      // margin-left: 150px;
      padding: 30px 80px;
    }
  }
}
@include xl {
  .wrapper {
    .pageContent {
      // margin-left: 150px;
      padding: 30px 40px;
    }
  }
}

@include sm {
  .wrapper {
    .navBarBody {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70px;
    }
    .pageContent {
      padding: 10px 10px;
    }
  }
}
