@import "../../../styles/colors.scss";

.btn {
  color: var(#{--main-text-default});
  background: none;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 16px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  transition: all 0.5 ease-in-out;

  &:hover {
    color: var(#{--body-background-default});
    background: var(#{--main-text-default});
    transition: all 0.5 ease-in-out;
  }

  &.disabled {
    opacity: 0.7;
    cursor: auto;
  }
}
